@font-face {
    font-family: bubbly;
    src: url(../splash/Super_Bubbly.ttf);
}
.container-fluid {
    background: #53ea60;
    width: 1000vw;
    height: 1000hw;
    top: 0;
    margin-top: 0;
    inset: 0;
    place-content: center;
    display: grid;
}
section {
    position: absolute;
    background: #200c3d;
    width: 100vw;
    height: 100hw;
    top: 0;
    inset: 0;
    display: grid;
    font-size: 48px;
    place-content: center;
}
p {
    color: black;
    font-family: 'Pixelify Sans', sans-serif;
    text-align: center;
}

h1 {
    color: black;
    font-family: bubbly;
    text-align: center;
}
.button {
    font-family: 'Rubik Bubbles', sans-serif;
    background-color: rgb(75, 30, 181);
    border: none;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.imag{
    cursor: pointer;
}

